name: Deploy to heroku
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: resolve permission for ./mvnw
        run: |
          chmod +x mvnw
      # making sure we can build before we publish to heroku
      - name: build maven
        run: |
          ./mvnw clean install
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: install heroku
        run: |
          sudo snap install --classic heroku
      - name: create netrc file
        run: |
          cat >~/.netrc <<EOF
            machine api.heroku.com
                login ${{secrets.HEROKU_USERNAME}}
                password ${{secrets.HEROKU_PASSWORD}}
            machine git.heroku.com
                login ${{secrets.HEROKU_USERNAME}}
                password ${{secrets.HEROKU_PASSWORD}}
            EOF
      - name: heroku login
        run: |
          heroku login
      - name: heroku push
        run: |
          ./mvnw clean heroku:deploy -Dheroku.appName=course-advisor-backend
